* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(120deg, #f6d365, #fda085);
    color: rgb(99, 4, 4);
    font-family: "Poppins", sans-serif;
}

/* .container {
    justify-content: center;
    align-items: center;
} */


/* .seacrh-container {} */

.width-search {
    width: 100%;

}

.positionOfTextandIcon {
    display: inline-flex;
    align-items: center;
}

.mar {
    margin-left: 5px;
}